.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
body {
  overflow-x: hidden;
}
/* Toggle Styles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/*@tablets: ~"only screen and (min-width: 768px) and (max-width: 959px)";*/
/*@desktops: ~"only screen and (min-width: 960px)";*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  color: #777;
  font-family: sans-serif;
  font-size: 16px;
  Ignore: a;margin-bottom:20px;
  Ignore: a;margin-bottom:1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
}
a {
  color: #999;
}
a:hover {
  color: #666;
}
img {
  max-width: 100%;
}
/*
flaticon icon font: flaticon
Creation date: 29/08/2016 18:46
*/
@font-face {
  font-family: "flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon.woff") format("woff"), url("../fonts/flaticon.ttf") format("truetype"), url("../fonts/flaticon.svg#flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.svg#flaticon") format("svg");
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: flaticon;
  font-style: normal;
}
.flaticon-dog:before {
  content: "\f100";
}
.flaticon-medical:before {
  content: "\f101";
}
.flaticon-paw-print:before {
  content: "\f102";
}
._no-border {
  border: none !important;
}
._full-width {
  width: 100%;
}
._cursor-pointer {
  cursor: pointer;
}
._warning-color {
  color: #FF0;
}
._success-color {
  color: #22B14C;
}
._error-color {
  color: #FF0000;
}
input.loading,
select.loading,
textarea.loading {
  background: url(../img/loading.gif) no-repeat right center;
}
input.-warning,
select.-warning,
textarea.-warning {
  border: 1px solid #FF0;
}
input.-success,
select.-success,
textarea.-success {
  border: 1px solid #22B14C;
}
input.-error,
select.-error,
textarea.-error {
  border: 1px solid #FF0000;
}
#alerts {
  z-index: 9999;
  position: fixed;
  width: 50%;
  margin: 5% auto;
  /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
}
#html-templates {
  display: none;
}
#wrapper.toggled {
  Ignore: a;padding-left:250px;
  Ignore: a;padding-left:15.625rem;
}
#wrapper.toggled #sidebar-wrapper {
  Ignore: a;width:250px;
  Ignore: a;width:15.625rem;
}
#wrapper.toggled #page-content-wrapper {
  Ignore: a;margin-right:-250px;
  Ignore: a;margin-right:-15.625rem;
}
#wrapper.toggled #footer {
  Ignore: a;margin-right:-250px;
  Ignore: a;margin-right:-15.625rem;
}
#page-content-wrapper {
  padding: 0;
  Ignore: a;margin-bottom:60px;
  Ignore: a;margin-bottom:3.75rem;
}
@media only screen and (max-width: 767px) {
  #page-content-wrapper {
    Ignore: a;margin-top:60px;
    Ignore: a;margin-top:3.75rem;
  }
}
@media only screen and (min-width: 768px) {
  #page-content-wrapper > .container {
    width: 1085px;
  }
}
@media only screen and (max-width: 767px) {
  #page-content-wrapper > .container {
    Ignore: a;margin-bottom:60px;
    Ignore: a;margin-bottom:3.75rem;
  }
}
#footer {
  background-color: #367A38;
  color: #FFF;
  clear: fix;
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-x: auto;
  Ignore: a;padding:10px;
  Ignore: a;padding:0.625rem;
  Ignore: a;height:40px;
  Ignore: a;height:2.5rem;
}
#header {
  background-color: #367A38;
  color: #FFF;
  clear: fix;
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 100%;
  overflow-x: auto;
  Ignore: a;padding:10px;
  Ignore: a;padding:0.625rem;
  Ignore: a;height:60px;
  Ignore: a;height:3.75rem;
}
@media only screen and (min-width: 768px) {
  #header {
    display: none;
  }
}
#sidebar-wrapper {
  background: #367A38;
  Ignore: a;left:250px;
  Ignore: a;left:15.625rem;
  Ignore: a;margin-left:-250px;
  Ignore: a;margin-left:-15.625rem;
  color: #FFF;
}
#sidebar-wrapper a {
  color: #BEEE9E;
}
#sidebar-wrapper a:hover {
  text-decoration: none;
  color: #71D161;
  background: rgba(0, 0, 0, 0);
}
@media only screen and (max-width: 767px) {
  #sidebar-wrapper {
    Ignore: a;margin-top:60px;
    Ignore: a;margin-top:3.75rem;
  }
}
.sidebar-nav {
  Ignore: a;width:250px;
  Ignore: a;width:15.625rem;
}
.sidebar-nav > li {
  Ignore: a;text-indent:20px;
  Ignore: a;text-indent:1.25rem;
  Ignore: a;line-height:40px;
  Ignore: a;line-height:2.5rem;
  border-bottom: 1px solid #E6FFBF;
}
.sidebar-nav > li.logo {
  text-align: center;
  text-indent: 0px;
  border-top: 1px solid #E6FFBF;
  border-left: 1px solid #E6FFBF;
}
.sidebar-nav > li.calendar {
  text-align: center;
  text-indent: 0px;
}
.sidebar-nav > li.user {
  Ignore: a;padding:10px;
  Ignore: a;padding:0.625rem;
  text-indent: 0px;
}
.sidebar-nav > li a {
  display: inline;
}
.btn.loading {
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: center;
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
}
.btn.btn-default.-green {
  background-color: #367A38;
  color: #BEEE9E;
  border-color: #FFF;
}
.btn.btn-default.-green:hover {
  color: #71D161;
  border-color: #bfbfbf;
}
.responsive-calendar .day {
  Ignore: a;font-size:16px;
  Ignore: a;font-size:1rem;
}
.responsive-calendar .day a {
  color: #999;
}
.responsive-calendar .day a:hover {
  background-color: #666;
}
.responsive-calendar .day.header {
  border-bottom: 1px #777 solid;
}
.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar.-sidebar .day a {
  color: #BEEE9E;
}
.responsive-calendar.-sidebar .day a:hover {
  background-color: #71D161;
}
.responsive-calendar.-sidebar .day.header {
  border-bottom: 1px #E6FFBF solid;
}
.responsive-calendar.-sidebar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}
.responsive-calendar.-sidebar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar.-sidebar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar.-sidebar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar.-sidebar .day.not-current a {
  color: #ddd;
}
.editable-label > input,
.editable-label select,
.editable-label textarea {
  display: none;
}
.editable-label > span {
  cursor: pointer;
}
.image-uploader {
  cursor: pointer;
}
.image-uploader input[type=file] {
  display: none;
}
.map {
  width: 100%;
  Ignore: a;height:300px;
  Ignore: a;height:18.75rem;
  Ignore: a;margin-bottom:10px;
  Ignore: a;margin-bottom:0.625rem;
}
.panel.-green {
  background-color: #367A38;
  color: #BEEE9E;
  border-color: #FFF;
}
.search-box.-map {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}
.search-box.-map:focus {
  border-color: #4d90fe;
}
.table tbody > tr > td {
  vertical-align: middle;
}
