// -------------------------
// Helpers
// -------------------------
._no-border {
    border: none !important;
}

._full-width {
    width: 100%;
}

._cursor-pointer {
    cursor: pointer;
}

._warning-color {
    color: @warning-color !important;
}
._information-color {
    color: @information-color !important;
}
._success-color {
    color: @success-color !important;
}
._error-color {
    color: @error-color !important;
}

._error-background {
    background-color: @error-color !important;
}
._warning-background {
    background-color: @warning-color !important;
}
._information-background {
    background-color: @information-color !important;
}
._success-background {
    background-color: @success-color !important;
}

._bold {
    font-weight: bold !important;
}

._underlined {
    text-decoration: underline;
}