// -------------------------
// Container - Layout
// -------------------------
#alerts {
    z-index: 9999;
    position: fixed;
    width: 50%;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
}

#html-templates {
    display: none;
}

#wrapper {
    &.toggled {
        .rem("padding-left", 250px);
        #sidebar-wrapper {
            .rem("width", 250px);
        }
        #page-content-wrapper {
            .rem("margin-right", -250px);
        }
        #footer {
            .rem("margin-right", -250px);
        }
    }
}
