// -------------------------
// Header - Layout
// -------------------------
.header--main {
    & {
        clear: fix;
        .rem("padding", @base-space);
        background-color: @container-color;
        color: @container-font-color;
        padding-right: 0;
    }
}
