// -------------------------
// Sidebar - Layout
// -------------------------


#sidebar {
    position: fixed;
    top: @header-height;
    right: 0;
    z-index: 2;
    .rem("width", @sidebar-width);
    min-height: 100vh;

    background: @container-color;
    color: @container-font-color;
    a {
        color: @container-link-color;
        &:hover {
            text-decoration: none;
            color: @container-link-hover-color;
            background: rgba(0,0,0,0);
        }
    }
    transition: all .4s;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    &.toggled {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    @media @desktops {
        right: inherit;
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

#sidebar > .sidebar {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    > li {
        .rem("line-height", @quadruple-space);
        .rem("padding", @half-space);
        border-bottom: 1px solid @container-divisory-color;

        > .close-icon {
            cursor: pointer;
            @media @desktops {
                display: none;
            }
        }

        &.user {
            .rem("padding", @base-space);
            .title {
                color: @container-font-color;
                font-weight: bold;
                font-size: @big-font-size;
                .rem("padding-bottom", @half-space);
            }
        }
    }
}