// -------------------------
// Sidebar - Layout
// -------------------------

#wrapper {
    @media @smartphones, @tablets {
        .rem("padding-top", @sextuple-space);
    }

    &.toggled {
        .rem("padding-left", 250px);
        #sidebar-wrapper {
            .rem("width", 250px);
        }
        #page-content-wrapper {
            .rem("margin-right", -250px);
        }
    }
}

#page-content-wrapper {
    padding: 0;
}

#sidebar-wrapper {
    background: @container-color;
    .rem("left", 250px);
    .rem("margin-left", -250px);
}

.sidebar-nav {
    & {
        .rem("width", 250px);
    }

    li {
        .rem("text-indent", @double-space);
        .rem("line-height", @quadruple-space);
        border-bottom: 1px solid @container-divisory-color;
        color: @container-font-color;

        a {
            color: @container-link-color;
            &:hover {
                text-decoration: none;
                color: @container-link-hover-color;
                background: rgba(0,0,0,0);
            }
        }

    }

    > li.logo {
        text-align: center;
        text-indent: 0px;
        border-top: 1px solid @container-divisory-color;
        border-left: 1px solid @container-divisory-color;
    }

    > li.calendar {
        text-align: center;
        text-indent: 0px;
    }

    > li.user {
        .rem("padding", @base-space);
        text-indent: 0px;

        a {
            display: inline;
        }
    }

    .title {
        font-weight: bold;
    }

}
