// -------------------------
// Variables
// -------------------------

// Font size
@base-font-size   : 16px;
@medium-font-size : 14px;
@small-font-size  : 10px;

// Colors
//Pallete: http://www.colourlovers.com/palette/106467/Ambuside
@dark-color       : #000;
@light-color      : #FFF;

@heading-color    : #555;
@content-color    : #777;
@link-color       : #999;
@link-hover-color : #666;

@container-color     : #49A34B;
@container-font-color: @light-color;
@container-link-color: #BEEE9E;
@container-link-hover-color: #71D161;
@container-divisory-color: #E6FFBF;

@error-color: #FF0000;
@warning-color: #FF0;
@success-color: #22B14C;

// Box Model
@container-width  : 1280px;
@base-space       : 10px;
@double-space     : (@base-space * 2);
@quadruple-space     : (@double-space * 2);
@sextuple-space     : (@quadruple-space * 1.5);
